// flat-style.scss

// Colores principales
$color-primary: #0f1010; 
$color-primary-dark: #01060c;
$color-secondary: #151515;
$color-contrast: #151515;
$color-neutral: #151515;
$color-text: #1a1a1a;

// Fondos
$color-background: #fffaf0b8;

// Tipografías
$font-primary: 'Libre Baskerville', serif;
$font-logo: 'Oswald', sans-serif;
$font-heading: 'Libre Baskerville', serif, bold;
$letter-spacing-m: 0.1rem;

// Tamaño base de párrafo (variable)
$p: 0.875rem; // 14px

// Dimensiones
$max-width: 1200px;
$spacing-unit: 1rem;

// Extras
$border-radius: 0rem;
$box-shadow-light: 0 1px 1px rgba(0, 0, 0, 0.05);

// Contenedores
.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: $spacing-unit;
}

section {
    padding: 2 * $spacing-unit 0;
}