@use "./variables" as *;

// Gallery wrapper y grid
$gutter: 32px;

.gallery-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery-inner {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $spacing-unit;
}

.gallery-grid {
    display: flex;
    margin-left: -$gutter;
    width: auto;
}

.gallery-column {
    padding-left: $gutter;
    background-clip: padding-box;

    >.gallery-item {
        margin-bottom: $gutter;
    }
}

@media (max-width: 1024px) {
    .gallery-inner {
        padding: 0 1.5rem;
    }

    .gallery-grid {
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr; // una columna en tablet más pequeña
        gap: 1.5rem;
    }
}

@media (max-width: 600px) {
    .gallery-inner {
        padding: 0 1rem;
    }

    .gallery-grid {
        gap: 1rem;
    }
}