@use './variables' as *;
@use './cta' as *;

.home {
    max-width: none;
    width: 100%;

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .cta-button {
            @extend .cta-button;
        }
    }
        @media (max-width: 599px) {
            padding: 0;

        }
}