// src/styles/main.scss
@use './variables' as v;
@use './typography';
@use './animations';


//global styles and fonts
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #ffffff;
    color: #111;
}


html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0; }



        